%containerSets {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  position: relative;
  height: 100vh;
}

%headerSets {
  font-size: 3rem;
  text-align: center;
  height: 4rem;
  margin: 50px 0 10px;
}

%itemsContainerSets {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto;
  padding: 0;
}

%listItemSets {
  margin: 10px 0 2px;
  padding: 3px;
  border-radius: 4px;
  width: 95%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

%listItemTextSets {
  margin-left: 5px;
  background-clip: text;
  color: transparent;
}

%errorSets {
  color: rgb(245, 51, 51);
  font-weight: bold;
  font-style: italic;
  font-size: 0.85rem;
  padding: 2px;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 45px;
  left: 3px;
}
